IMPORT DATA FRAME

In [99]:
import pandas as pd
df = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vTGU1m6KdC2laAwfZZRLkwyEJpzk1uwqf1BNACja06uKpx8L-YHrPzsRF7iQepzTHcBM9Qt2VJlKcsb/pub?output=csv")

In [100]:
df

    ID  Gender  Age  Subjective Social Status
0    1  Female   22                         1
1    2    Male   27                         3
2    3  Female   19                         4
3    4  Female   24                         2
4    5    Male   31                         4
5    6  Female   18                         5
6    7  Female   29                         6
7    8    Male   34                         7
8    9  Female   21                         8
9   10    Male   26                         5
10  11  Female   23                         6
11  12  Female   20                         7
12  13    Male   17                         8
13  14  Female   28                         9
14  15    Male   36                         6
15  16  Female   25                         5
16  17  Female   30                         3
17  18    Male   22                         6
18  19  Female   27                         3
19  20  Female   24                         4

CREATE AGE BINS/ CATEGORIES

In [101]:
age_bins = [0, 17, 25, 30, 35, 100]
age_labels = ["<18", "18–25", "26–30", "31–35", ">35"]

df["age_group"] = pd.cut(df["Age"], bins=age_bins, labels=age_labels)

DETERMINE PERCENT OF PARTICIPANTS IN A GIVEN VARIABLE CATEGORY

In [102]:
def percentage_table(series):
    return (
        series.value_counts(normalize=True)
        .mul(100)
        .reset_index()
        .rename(columns={"index": "Category", series.name: "Category"})
    )

CREATE VARIABLE/CATEGORY/PERCENT TABLES FOR EACH GROUP

In [108]:
gender_table = percentage_table(df["Gender"])
age_table = percentage_table(df["age_group"])
status_table = percentage_table(df["Subjective Social Status"])
status_table["Category"] = sorted(status_table["Category"])
status_table

   Category  proportion
0         1        20.0
1         2        15.0
2         3        15.0
3         4        15.0
4         5        10.0
5         6        10.0
6         7         5.0
7         8         5.0
8         9         5.0

LABEL TABLE

In [109]:
def add_variable_name(df, variable):
    df.insert(0, "Variable", variable)
    df.loc[df.index[1:], "Variable"] = ""
    return df

gender_table = add_variable_name(gender_table, "Gender")
age_table = add_variable_name(age_table, "Age")
status_table = add_variable_name(status_table, "Perceived Social Status")

CONCATENATE TABLE

In [110]:
final_table = pd.concat(
    [gender_table, age_table, status_table],
    ignore_index=True
)

final_table.rename(columns={"Variable": "Variable", "Category": "Category", "proportion": "Percentage (%)"})

                   Variable Category  Percentage (%)
0                    Gender   Female            65.0
1                               Male            35.0
2                       Age    18–25            50.0
3                              26–30            30.0
4                              31–35            10.0
5                                <18             5.0
6                                >35             5.0
7   Perceived Social Status        1            20.0
8                                  2            15.0
9                                  3            15.0
10                                 4            15.0
11                                 5            10.0
12                                 6            10.0
13                                 7             5.0
14                                 8             5.0
15                                 9             5.0